@mixin font($a, $b, $c, $d, $e) {
    margin: 0;
    font-size: $a;
    font-family: $b;
    font-weight: $c;
    color: $d;
    margin-bottom: $e;
}

.message {
    padding: 6px 9px;
    position: relative;
    padding-right: 42px;
    background-color: #E7FFDB;
    align-self: flex-end;
    @include font(16px, 'Geo', 300, #333, 0px);
    border-radius: 9px;
    max-width: 80%;
    overflow-wrap: break-word;
    white-space: break-spaces;
    margin-bottom: 5px;
}

.sent {
    position: absolute;
    bottom: 3px;
    right: 8px;
    @include font(11px, 'Geo', 300, #666, 0px);
}

.recieve {
    align-self: flex-start;
    background-color: #fff;
}