@font-face {
    font-family: 'Geo';
    src: url('../assets/font/geometria_light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Geo';
    src: url('../assets/font/geometria_medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Geo';
    src: url('../assets/font/geometria_bold.woff2');
    font-weight: 700;
}

body {
    margin: 0;
    background-image: url('../assets/img/chat.png');
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

@mixin font($a, $b, $c, $d, $e) {
    margin: 0;
    font-size: $a;
    font-family: $b;
    font-weight: $c;
    color: $d;
    margin-bottom: $e;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}

.title {
    @include font(32px, 'Geo', 500, rgb(53, 144, 129), 18px)
}

.sub {
    @include font(18px, 'Geo', 300, #333, 40px)
}

.input {
    padding: 0;
    border: none;
    border-bottom: 1px solid rgb(53, 144, 129);
    width: 100%;
    margin-bottom: 10px;
    background-color: transparent;
    transition: color 0.3s ease-in-out;

    &:focus {
        outline: none;
    }

    &[type='text'] {
        @include font(16px, 'Geo', 300, #333, 30px);
    }
}

.input::placeholder {
    @include font(16px, 'Geo', 300, #666, 0)
}

.btn {
    padding: 0;
    margin: 0;
    border-style: none;
    cursor: pointer;
    padding: 9px 22px;
    border-radius: 18px;
    @include font (12px, 'Geo', 300, #fff, 0);
    background-color: #008069;
    margin-top: 10px;
    position: relative;
    min-width: 80.97px;
    min-height: 33px;
}

.error {
    border-bottom: 1px solid red;
}

.errorName {
    position: absolute;
    @include font(12px, 'Geo', 300, red, 0px);
    bottom: 3px
}

label {
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
}

.loading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;
    margin: auto;
    border: 2px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 0.75s cubic-bezier(0.55, 0.55, 0.55, 0.55) infinite;
  }
  
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }